.book-consult {
    background-color: #f8f8f8;
    width: 100%;
    min-width: 380px;

    @media (min-width: $tablet-width) {
background: linear-gradient(to bottom, #F9F9F9 22% , #fff 100%);

    }



}

.book-consult__container {
    width: 86%;
    max-width: 768px;
    min-height: 250px;

    margin: 0 auto;

    @media (min-width: $tablet-width) {

        max-width: $desktop-container;
        min-height: 500px;

        display: flex;
        justify-content: flex-end;


        background-image: url(/img/book-consult-img.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: -50px -20px;

    }

    @media (min-width: $desktop-width) {

        min-height: 887px;
        background-size: 60%;
        background-position: -50px 40px;
    }
}

.book-consult__description-container {
    margin: 0;
    @media (min-width: $tablet-width) {

         width: 45%;

         /* margin-left: 46% */;
    }

    @media (min-width: $desktop-width) {
        width: 45%;
     margin-top: 150px;
    }
}

.book-consult__title {
    font-family: 'New York Extra Large Bold';
    font-size: 30px;
    line-height: 124%;
   /*  width: 50%;
    margin: 0 auto; */


    @media (min-width: $tablet-width) {
        font-size: 42px;
        margin-top: 150px;
    }


    @media (min-width: $desktop-width) {

        font-size: 48px;
    line-height: 124%;
    }
}

.book-consult__button {
    margin: 30px auto;

    @media (min-width: $desktop-width) {
        margin: 0;
        margin-top: 70px;
    }
}
