.footer {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
    border-top: 1px solid #F0F0F0;
}

.footer__container {

        width: 86%;

        margin: 0 auto;

        @media (min-width: $tablet-width) {
            padding: 20px 0;

            max-width: $desktop-container;
            display: flex;
        justify-content: space-between;
        align-items: center;
        }




}

.footer__link-list {
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.footer__link {

    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    color: #585858;
    padding: 10px;

    &:hover {
        color: $tomato;
    }
}


.footer-logo {
    margin: 20px 0;
    text-align: center;
    @media (min-width: $tablet-width) {
        margin-right: 10px;
    }
}
