.header {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
    /* max-width: $desktop-width; */


}

.header-container{
    width: 86%;
    min-width: 280px;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid red;

    position: relative;

    @media (min-width: $tablet-width) {
        border: 1px solid green;
        max-width: $desktop-container;
    }

    @media (min-width: $desktop-width) {
        max-width:1338px;
        border: 1px solid blue;

        margin: 28px auto;

       display: flex;
       justify-content: space-between;
       align-items: center;

    }

}


.header-logo {
    position: absolute;
    left: 0;
    top: 5px;

    @media (min-width: $tablet-width) {
        left: 10px;
    top: 7px;
    }

    @media (min-width: $desktop-width) {

        position: static;
    }
}







.header-nav__list {

    display: none;

    @media (min-width: $desktop-width) {
        display: flex;
        flex-direction:  row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;




    }

}

.header-nav__list-link {
    font-size: 14px;
    line-height: 40px;
    color: $brownFont;

    @media (min-width: $tablet-width){
        font-size: 18px;
    }

    @media (min-width: $desktop-width){
        padding: 24px 20px;
        font-size: 14px;


    }


}

.header-nav__list--show {
    margin: 0;
    padding: 0;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;


    ///////////////
    display: block;

}



.header-nav__list-item{
    list-style: none;
    padding: 10px 30px;

    @media (min-width: $desktop-width) {
        padding: 0;
       /*  margin-top: 28px; */

    }

}

.header-nav__list-item:first-child a{
    padding-left: 0px;
}

.header-user-info__search-button {
    cursor: pointer;
    border: none;
background-color: #ffffff;
}

.header-search {

}

.header-user-info {
    display: none;

    @media (min-width: $tablet-width) {
        display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 70px;
    }

    @media (min-width: $desktop-width) {
        margin-right: 0;
    }


}

.header-user-info--show {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
        display: none;
    }
}

.header-user-info__sign-in-btn {

    color: $brownFont;
    padding: 4px 24px;
    font-size: 14px;
line-height: 40px;
}

.header-user-info__sign-up-btn{

    padding: 4px 24px;
    color: #ffffff;
    background-color: $tomato;
    border-radius: 4px;
    font-size: 14px;
line-height: 40px;
}










//ГАМБУРГЕР

.hamburger-btn {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 0;
    top: 5px;

    @media (min-width: $tablet-width) {
        right: 10px;
    top: 7px;
    }

    @media (min-width: $desktop-width) {
        display: none;
    }

}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #585858;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
  }

  .change .bar2 {opacity: 0;}

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }





  .our-work__title {
    font-family: "Bitstream Vera Serif Bold";
  }
