.our-partners {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.our-partners__container {

        width: 86%;

        margin: 0 auto;
        border: 1px solid red;

        @media (min-width: $tablet-width) {
            border: 1px solid green;
            max-width: $desktop-container;
        }

}

.our-partners__title {
    font-family: 'New York Extra Large Bold';
    font-size: 30px;
    line-height: 124%;


    @media (min-width: $tablet-width) {
        font-size: 42px;
    }


/*     @media (min-width: $desktop-width) {

        font-size: 48px;
    line-height: 124%;
    } */
}

.our-partners__list {
    margin:0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}




.our-partners__logo {
    background-repeat: no-repeat;
}

.our-partners__logo-1 {
    background-image: url(/img/partners-logo-1.png);
    width: 167px;
    height: 57px;
}

.our-partners__logo-1:hover {
    background-image: url(/img/partners-logo-1--colored.png);
    border: none;
}

.our-partners__logo-2 {
    background-image: url(/img/partners-logo-2.png);
    width: 140px;
    height: 139px;
}

.our-partners__logo-2:hover {
    background-image: url(/img/partners-logo-2--colored.png);
    border: none;
}

.our-partners__logo-3 {
    background-image: url(/img/partners-logo-3.png);
    width: 210px;
    height: 57px;
}

.our-partners__logo-3:hover {
    background-image: url(/img/partners-logo-3--colored.png);
    border: none;
}

.our-partners__logo-4 {
    background-image: url(/img/partners-logo-4.png);
    width: 94px;
    height: 62px;
}

.our-partners__logo-4:hover {
    background-image: url(/img/partners-logo-4--colored.png);
    border: none;
}

.our-partners__logo-5 {
    background-image: url(/img/partners-logo-5.png);
    width: 213px;
    height: 121px;
}

.our-partners__logo-5:hover {
    background-image: url(/img/partners-logo-5--colored.png);
    border: none;
}
