.our-work {
    background-color: #ffffff;
    width: 100%;
    min-width: 320px;

}

.our-work__container{
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid red;

    ///////////
    /* display: flex;
    flex-wrap: wrap; */



}

.our-work__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.our-work__title {

}

.our-work__img-container {
    display: flex;

    flex-wrap: nowrap;
    overflow: visible;
}

.our-work__img {
    ///////
    /* display: block; */
    /* margin-right: 20px; */
}


.our-work__slider-buttons {
 display: flex;
 flex-wrap: nowrap;
}


//swiper
.swiper-container {
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    min-height: 50px;
    margin: 0 auto;
    border: 1px solid red;
    /////////
    /* overflow: visible; */
  }




 .swiper-slide {
    /* margin-right: 20px; */
    /* height: 305px; */
  /*   margin-right: 120px; */
    background: #fff;
   /*  width: auto; */
   /* margin-left: 10px; */
   width: 40%;



    /* display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;

    align-items: center; */
    /* width: auto; */
  }

  .swiper-slide img {
    /* display: block; */



    width: 100%;
    background-size: cover;
  }
