.promo {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.promo-container{
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid red;

    @media (min-width: $tablet-width) {
        border: 1px solid green;
        max-width: $desktop-container;
    }
}

.promo__title{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: 'New York Extra Large Bold';
    font-size: 50px;
    line-height: 50px;

    @media (min-width: $tablet-width){
        font-size: 90px;
        line-height: 90px;
    }



/*     @media (min-width: $desktop-width) {
        font-family: 'New York Extra Large Bold';
        font-size: 120px;
        line-height: 120px;
    } */
}

.promo__title--red {
 color: $tomato;
}

.promo__description-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.promo__description {
    @media (min-width: $tablet-width) {
        width: 45%;
        display: flex;
        flex-direction: column;

    }
}

.promo__p {
font-family: 'SF UI Display';
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 160%;
letter-spacing: 0.01em;
color: #000000;

@media (min-width: $tablet-width){
    font-size: 16px;
}

@media (min-width: $desktop-width) {
    font-size: 16px;
}
}

.promo__photo {
    display: none;

    @media (min-width: $tablet-width) {
        display: block;
        width: 50%;
        height: auto;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}

