.reviews {
    background-color: #ffffff;
    width: 100%;
    min-width: 320px;
}

.reviews__container {
    width: 86%;
    min-width: 280px;
    max-width: 768px;

    margin: 0 auto;
    border: 1px solid red;

}
