.reviews {
    background-color: #F9F9F9;
    width: 100%;
    min-width: 380px;

}

.reviews__container {
    width: 86%;
    /* min-width: 280px; */
    max-width: 768px;
    position: relative;

    margin: 0 auto;
    border: 1px solid red;

    @media (min-width: $tablet-width) {
        min-height: 350px;
        border: 1px solid green;
        max-width: $desktop-container;
    }

    @media (min-width: $desktop-width) {
        border: 1px solid blue;
    }

}

.reviews__title {

    padding: 0;
    margin: 20px 0;


    font-family: 'New York Extra Large Bold';
    font-size: 30px;
    line-height: 124%;


    @media (min-width: $tablet-width) {
        font-size: 42px;
    }


    @media (min-width: $desktop-width) {

        font-size: 48px;
    line-height: 124%;
    }
}

.reviews__blockquote-icon {
    position: absolute;
    width: 40px;
    height: auto;

    @media (min-width: $tablet-width) {
        width: 57px;
        left: 170px;
    }

    @media (min-width: $desktop-width) {
        width: 57px;
        left: 270px;
    }

}

.reviews-slider {
    margin-left: 50px;
    position: relative;

    @media (min-width: $tablet-width) {
        margin-left: 250px;
    }

    @media (min-width: $desktop-width) {
        margin-left: 370px;
    }

}

.swiper-slide .reviews__slide {
    min-width: 100px;
}


.reviews__item {
    margin: 0;
    padding: 0;
    min-height: 150px;
    margin-bottom: 50px;


    font-family: 'SF UI Display';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 160%;

letter-spacing: 0.01em;

color: #000000;

@media (min-width: $tablet-width) {
    font-size: 22px;
}

    @media (min-width: $desktop-width) {
font-size: 32px;
line-height: 160%;
    }

}

.reviews__author-name {
    width: 70%;

    font-family: 'SF UI Display';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;


letter-spacing: 0.01em;

color: #000000;

}

.reviews__author-name--bold {
    font-weight: bold;
}



.reviews__author-name {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.reviews__toggles {
position: absolute;
bottom: 0;
right: 0;
z-index: 1;
display: flex;
align-items: center;
}

