.popup {
    position: absolute;
    transform: translateY(-120px);
    left: 25%;
    width: 50%;
    transition: transform 0.5s ease-out;
}

.popup-show {
    transform: translateY(0px);
    position: absolute;
    top: 5px;
    left: 25%;
    width: 50%;
    transition: transform 1s ease-out;

    z-index: 2;

    @media (min-width: $tablet-width) {

        top: 10px;
    }

    @media (min-width: $desktop-width) {
        top: 30px;
    }
}


.popup-input {
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 100%;

    padding: 5px 30px;

}

.popup__submit-input {
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 16px;
    z-index: 1;
    border: none;
    background-color: #fff;
    /*  border: 1px solid red; */


}


.popup__close-input {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
    border: none;
    background-color: #fff;
    /*  border: 1px solid red; */


    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        top: 2px;
        content: ' ';
        height: 23px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}
