@charset "UTF-8";
/*
@font-face {
    font-family: "NewYorkLargeBold";
    src: url("/build/fonts/NewYorkLargeBold.otf");
    font-display: swap;
  }

  @font-face {
    font-family: "SF UI Display Regular";
    src: url("fonts/SFUIDisplay-Regular.woff2"),
      url("fonts/SFUIDisplay-Regular.woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "SF UI Display bold";
    src: url("fonts/SFUIDisplay-Bold.woff2"),
      url("fonts/SFUIDisplay-Bold.woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  } */
/*   Common weight name mapping
100
Thin (Hairline)
200
Extra Light (Ultra Light)
300
Light
400
Normal
500
Medium
600
Semi Bold (Demi Bold)
700
Bold
800
Extra Bold (Ultra Bold)
900
Black (Heavy) */
@font-face {
    font-family: "New York Extra Large Bold";
    font-style: normal;
    font-weight: normal;
    src: local("New York Extra Large Bold"),
        url("../fonts/NewYorkExtraLargeBold.woff") format("woff");
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Regular.eot");
    src: local("☺"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"),
        url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Semibold.eot");
    src: local("☺"), url("../fonts/SFUIDisplay-Semibold.woff") format("woff"),
        url("../fonts/SFUIDisplay-Semibold.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Semibold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Light.eot");
    src: local("☺"), url("../fonts/SFUIDisplay-Light.woff") format("woff"),
        url("../fonts/SFUIDisplay-Light.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF UI Display";
    src: url("fonts/SFUIDisplay-Bold.eot");
    src: local("☺"), url("../fonts/SFUIDisplay-Bold.woff") format("woff"),
        url("../fonts/SFUIDisplay-Bold.ttf") format("truetype"),
        url("../fonts/SFUIDisplay-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
}

pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    /* 2 */
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

.free-consult__button {
    display: block;
    margin: 0 auto;
    padding: 8px 32px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #fd665e;
    text-transform: uppercase;
    font-family: "SF UI Display";
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.01em;
}

body {
    margin: 0;
    padding: 0;
    font-family: "SF UI Display";
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.body__no-scroll {
    height: 100%;
    overflow: hidden;
}

.swiper-container {
    width: auto;
}

.swiper-container {
    margin: 0;
}

.swiper-slide img {
    width: 100%;
    background-size: cover;
}

.our-work__slider-button {
    background-color: #fff;
    border: none;
    padding: 10px;
}

.reviews-slider__toggle {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
}

.header {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
    /* max-width: $desktop-width; */
}

.header-container {
    width: 86%;
    min-width: 280px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 768px) {
    .header-container {
        max-width: 1110px;
    }
}
@media (min-width: 1440px) {
    .header-container {
        max-width: 1338px;
        margin: 28px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.header-logo {
    position: absolute;
    left: 0;
    top: 5px;
}
@media (min-width: 768px) {
    .header-logo {
        left: 10px;
        top: 7px;
    }
}
@media (min-width: 1440px) {
    .header-logo {
        position: static;
    }
}

.header-nav__list {
    display: none;
}
@media (min-width: 1440px) {
    .header-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
}

.header-nav__list-link {
    font-size: 14px;
    line-height: 40px;
    color: #585858;
}
.header-nav__list-link:hover {
    color: #fd665e;
}
@media (min-width: 768px) {
    .header-nav__list-link {
        font-size: 18px;
    }
}
@media (min-width: 1440px) {
    .header-nav__list-link {
        padding: 24px 20px;
        font-size: 14px;
    }
}

.header-nav__list--show {
    margin: 0;
    padding: 0;
    /* margin-top: 50px; */
    text-align: center;
    margin-bottom: 20px;
    display: block;
}

.header-nav__list-item {
    list-style: none;
    padding: 10px 30px;
}
@media (min-width: 1440px) {
    .header-nav__list-item {
        padding: 0;
        /*  margin-top: 28px; */
    }
}

.header-nav__list-item:first-child a {
    padding-left: 0px;
}

.header-user-info__search-button {
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}

.header-user-info {
    display: none;
}
@media (min-width: 768px) {
    .header-user-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 70px;
    }
}
@media (min-width: 1440px) {
    .header-user-info {
        margin-right: 0;
    }
}

.header-user-info--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .header-user-info--show {
        display: none;
    }
}

.header-user-info__sign-in-btn {
    color: #585858;
    padding: 4px 24px;
    font-size: 14px;
    line-height: 40px;
}
.header-user-info__sign-in-btn:hover {
    color: #fd665e;
}

.header-user-info__sign-up-btn {
    padding: 4px 24px;
    color: #ffffff;
    background-color: #fd665e;
    border-radius: 4px;
    font-size: 14px;
    line-height: 40px;
}
.header-user-info__sign-up-btn:hover {
    color: #fd665e;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #fd665e;
    padding: 0px 22px;
}

.hamburger-btn {
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    position: absolute;
    right: 0;
    top: 5px;
}
@media (min-width: 768px) {
    .hamburger-btn {
        right: 10px;
        top: 7px;
    }
}
@media (min-width: 1440px) {
    .hamburger-btn {
        display: none;
    }
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 4px;
    background-color: #585858;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.our-work__title {
    font-family: "Bitstream Vera Serif Bold";
}

.promo {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.promo-container {
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .promo-container {
        max-width: 1110px;
    }
}

.promo__title {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-family: "New York Extra Large Bold";
    font-size: 50px;
    line-height: 50px;
}
@media (min-width: 768px) {
    .promo__title {
        font-size: 90px;
        line-height: 90px;
    }
}
@media (min-width: 1440px) {
    .promo__title {
        font-family: "New York Extra Large Bold";
        font-size: 120px;
        line-height: 120px;
        margin-bottom: 47px;
    }
}

.promo__title--red {
    color: #fd665e;
}

.promo__description-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

@media (min-width: 768px) {
    .promo__description {
        width: 45%;
    }
}

@media (min-width: 1440px) {
    .promo__description {
        width: 30%;
    }
}

.promo__p {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}
@media (min-width: 768px) {
    .promo__p {
        font-size: 16px;
    }
}
@media (min-width: 1440px) {
    .promo__p {
        font-size: 16px;
    }
}

.promo__photo {
    display: none;
}
@media (min-width: 768px) {
    .promo__photo {
        display: block;
        width: 50%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1440px) {
    .promo__photo {
        width: 68%;
        -o-object-fit: contain;
        object-fit: contain;
    }
}

@media (min-width: 1440px) {
    .promo__consult-button {
        margin: 0;
        margin-top: 55px;
    }
}

.our-work {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.our-work__container {
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    min-height: 50px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .our-work__container {
        max-width: 1110px;
    }
}
@media (min-width: 1440px) {
    .our-work__container {
        max-width: 1110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.image-slider {
    overflow: visible;
}
@media (min-width: 1440px) {
    .image-slider {
        width: 68%;
        overflow: visible;
    }
}

/* .image-slider__image {
    height: 432px;
} */
.image-slider__image-img {
    height: 432px;
    -o-object-fit: cover;
    object-fit: cover;
}

.our-work__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.our-work__slider-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 5px;
    right: 0;
}

.our-work__title {
    padding: 0;
    margin: 20px 0;
    width: 80%;
    font-family: "New York Extra Large Bold";
    font-size: 30px;
    line-height: 124%;
    /*     @media (min-width: $desktop-width) {
        font-size: 48px;

    } */
}
@media (min-width: 768px) {
    .our-work__title {
        font-size: 42px;
    }
}

.our-work__img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow: visible;
}

.our-work__img {
    /* display: block; */
    /* margin-right: 20px; */
}

.advantages {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.advantages__container {
    width: 86%;
    min-width: 280px;
    max-width: 768px;
    min-height: 50px;
    margin: 0 auto;
    position: relative;
}
@media (min-width: 768px) {
    .advantages__container {
        max-width: 1110px;
    }
}

.advantages__title {
    padding: 0;
    margin: 20px 0;
    font-family: "New York Extra Large Bold";
    font-size: 30px;
    line-height: 124%;
}
@media (min-width: 768px) {
    .advantages__title {
        font-size: 42px;
    }
}
@media (min-width: 1440px) {
    .advantages__title {
        font-family: "New York Extra Large Bold";
        font-size: 48px;
        line-height: 124%;
    }
}

@media (min-width: 768px) {
    .advantages__description-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.advantages__img {
    display: none;
}
@media (min-width: 768px) {
    .advantages__img {
        display: block;
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1440px) {
    .advantages__img {
        width: 100%;
        background-size: 100% 100%;
    }
}

@media (min-width: 768px) {
    .advantages__advantages {
        width: 45%;
    }
}

@media (min-width: 1440px) {
    .advantages__advantages {
        width: 30%;
        margin-right: 40px;
    }
}

.advantages__advantages-list {
    margin: 0;
    padding: 0;
}

.advantages__advantages-list-item {
    position: relative;
}

.advantages__description {
    padding-left: 60px;
    margin-bottom: 30px;
}

.advantages__advantages-title {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.advantages__advantages-description {
    margin: 0;
    padding: 0;
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.advantages__advantages-logo {
    position: absolute;
}
@media (min-width: 1440px) {
    .advantages__advantages-logo {
        left: -40px;
    }
}

.advantages-guaranty {
    width: 48px;
    height: 55.08px;
}

.advantages-fees {
    width: 39px;
    height: 48px;
}

.advantages-escort {
    width: 40px;
    height: 53px;
}

.reviews {
    background-color: #f9f9f9;
    width: 100%;
    min-width: 380px;
}

.reviews__container {
    width: 86%;
    /* min-width: 280px; */
    max-width: 768px;
    position: relative;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .reviews__container {
        min-height: 350px;
        max-width: 1110px;
    }
}

.reviews__title {
    padding: 0;
    margin: 20px 0;
    font-family: "New York Extra Large Bold";
    font-size: 30px;
    line-height: 124%;
}
@media (min-width: 768px) {
    .reviews__title {
        font-size: 42px;
    }
}
@media (min-width: 1440px) {
    .reviews__title {
        font-size: 48px;
        line-height: 124%;
    }
}

.reviews__blockquote-icon {
    position: absolute;
    width: 40px;
    height: auto;
}
@media (min-width: 768px) {
    .reviews__blockquote-icon {
        width: 57px;
        left: 170px;
    }
}
@media (min-width: 1440px) {
    .reviews__blockquote-icon {
        width: 57px;
        left: 270px;
    }
}

.reviews-slider {
    overflow-x: hidden;
    margin-left: 50px;
    position: relative;
}
@media (min-width: 768px) {
    .reviews-slider {
        margin-left: 250px;
    }
}
@media (min-width: 1440px) {
    .reviews-slider {
        margin-left: 370px;
    }
}

.swiper-slide .reviews__slide {
    min-width: 100px;
}

.reviews__item {
    margin: 0;
    padding: 0;
    min-height: 150px;
    margin-bottom: 50px;
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}
@media (min-width: 768px) {
    .reviews__item {
        font-size: 22px;
    }
}
@media (min-width: 1440px) {
    .reviews__item {
        font-size: 32px;
        line-height: 160%;
    }
}

.reviews__author-name {
    width: 70%;
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.reviews__author-name--bold {
    font-weight: bold;
}

.reviews__author-name {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
}

.reviews__toggles {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.book-consult {
    background-color: #f8f8f8;
    width: 100%;
    min-width: 380px;
}
@media (min-width: 768px) {
    .book-consult {
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(22%, #f9f9f9),
            to(#fff)
        );
        background: -o-linear-gradient(top, #f9f9f9 22%, #fff 100%);
        background: linear-gradient(to bottom, #f9f9f9 22%, #fff 100%);
    }
}

.book-consult__container {
    width: 86%;
    max-width: 768px;
    min-height: 250px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .book-consult__container {
        max-width: 1110px;
        min-height: 500px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        background-image: url(../img/book-consult-img.png);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: -50px -20px;
    }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
    (min-width: 768px) and (min-resolution: 2dppx) {
    .book-consult__container {
        background-image: url(../img/book-consult-img-2x.png);
    }
}
@media (min-width: 1440px) {
    .book-consult__container {
        min-height: 887px;
        background-size: 60%;
        background-position: -50px 40px;
    }
}

.book-consult__description-container {
    margin: 0;
}
@media (min-width: 768px) {
    .book-consult__description-container {
        width: 45%;
        /* margin-left: 46% */
    }
}
@media (min-width: 1440px) {
    .book-consult__description-container {
        width: 45%;
        margin-top: 150px;
    }
}

.book-consult__title {
    margin: 0;
    padding: 30px 0;
    font-family: "New York Extra Large Bold";
    font-size: 30px;
    line-height: 124%;
    /*  width: 50%;
    margin: 0 auto; */
}
@media (min-width: 768px) {
    .book-consult__title {
        font-size: 42px;
        margin-top: 150px;
    }
}
@media (min-width: 1440px) {
    .book-consult__title {
        font-size: 48px;
        line-height: 124%;
    }
}

.book-consult__button {
    margin: 30px auto;
}
@media (min-width: 1440px) {
    .book-consult__button {
        margin: 0;
        margin-top: 70px;
    }
}

.our-partners {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
}

.our-partners__container {
    width: 86%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .our-partners__container {
        max-width: 1110px;
    }
}

.our-partners__title {
    font-family: "New York Extra Large Bold";
    font-size: 30px;
    line-height: 124%;
    /*     @media (min-width: $desktop-width) {

        font-size: 48px;
    line-height: 124%;
    } */
}
@media (min-width: 768px) {
    .our-partners__title {
        font-size: 42px;
    }
}

.our-partners__list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.our-partners__logo {
    background-repeat: no-repeat;
}

.our-partners__logo-1 {
    background-image: url(../img/partners-logo-1.png);
    width: 167px;
    height: 57px;
}

.our-partners__logo-1:hover {
    background-image: url(../img/partners-logo-1--colored.png);
    border: none;
}

.our-partners__logo-2 {
    background-image: url(../img/partners-logo-2.png);
    width: 140px;
    height: 139px;
}

.our-partners__logo-2:hover {
    background-image: url(../img/partners-logo-2--colored.png);
    border: none;
}

.our-partners__logo-3 {
    background-image: url(../img/partners-logo-3.png);
    width: 210px;
    height: 57px;
}

.our-partners__logo-3:hover {
    background-image: url(../img/partners-logo-3--colored.png);
    border: none;
}

.our-partners__logo-4 {
    background-image: url(../img/partners-logo-4.png);
    width: 94px;
    height: 62px;
}

.our-partners__logo-4:hover {
    background-image: url(../img/partners-logo-4--colored.png);
    border: none;
}

.our-partners__logo-5 {
    background-image: url(../img/partners-logo-5.png);
    width: 213px;
    height: 121px;
}

.our-partners__logo-5:hover {
    background-image: url(../img/partners-logo-5--colored.png);
    border: none;
}

.footer {
    background-color: #ffffff;
    width: 100%;
    min-width: 380px;
    border-top: 1px solid #f0f0f0;
}

.footer__container {
    width: 86%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .footer__container {
        padding: 20px 0;
        max-width: 1110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.footer__link-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.footer__link {
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    color: #585858;
    padding: 10px;
}
.footer__link:hover {
    color: #fd665e;
}

.footer-logo {
    margin: 20px 0;
    text-align: center;
}
@media (min-width: 768px) {
    .footer-logo {
        margin-right: 10px;
    }
}

.popup {
    position: absolute;
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
    left: 25%;
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.popup-show {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    position: absolute;
    top: 5px;
    /* margin-left: -25%; */
    /* transform: translateX(-180px); */
    left: 25%;
    width: 50%;
    -webkit-transition: -webkit-transform 1s ease-out;
    transition: -webkit-transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    transition: transform 1s ease-out;
    transition: transform 1s ease-out, -webkit-transform 1s ease-out;
    z-index: 2;
}
@media (min-width: 768px) {
    .popup-show {
        top: 10px;
    }
}
@media (min-width: 1440px) {
    .popup-show {
        top: 30px;
    }
}

.popup-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 50px;
    width: 100%;
    padding: 5px 30px;
}

.popup__submit-input {
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 15px;
    z-index: 1;
    border: none;
    background-color: #fff;
    /*  border: 1px solid red; */
}

.popup__close-input {
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 15px;
    width: 28px;
    height: 28px;
    opacity: 0.3;
    border: none;
    background-color: #fff;
    /*  border: 1px solid red; */
}
.popup__close-input:hover {
    opacity: 1;
}
.popup__close-input:before,
.popup__close-input:after {
    position: absolute;
    left: 15px;
    top: 2px;
    content: " ";
    height: 23px;
    width: 2px;
    background-color: #333;
}
.popup__close-input:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.popup__close-input:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
