html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

body {
  margin: 0;
  padding: 0;
  font-family: "SF UI Display Regular";
  font-size: 20px;
  line-height: 24px;
  font-weight: 400; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "NewYorkLargeBold";
  src: url("/build/fonts/NewYorkLargeBold.otf");
  font-display: swap; }

@font-face {
  font-family: "SF UI Display Regular";
  src: url("fonts/SFUIDisplay-Regular.woff2"), url("fonts/SFUIDisplay-Regular.woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "SF UI Display bold";
  src: url("fonts/SFUIDisplay-Bold.woff2"), url("fonts/SFUIDisplay-Bold.woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.header {
  background-color: #ffffff;
  width: 100%;
  min-width: 320px; }

.header-container {
  width: 86%;
  min-width: 280px;
  max-width: 768px;
  min-height: 50px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative; }

.header-logo {
  position: absolute;
  left: 0;
  top: 0; }

.header-nav__list {
  display: none; }

.header-nav__list--show {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 20px;
  display: block; }

.header-nav__list-item {
  list-style: none;
  padding: 10px 30px; }

.header-user-info {
  display: none; }

.header-user-info--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }

.header-user-info__sign-in-btn {
  color: #585858;
  padding: 4px 24px; }

.header-user-info__sign-up-btn {
  padding: 4px 24px;
  color: #ffffff;
  background-color: #fd665e; }

.hamburger-btn {
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  position: absolute;
  right: 0;
  top: 5px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: #585858;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-7px, 6px);
      transform: rotate(-45deg) translate(-7px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px); }

.our-work__title {
  font-family: "Bitstream Vera Serif Bold"; }

.header {
  background-color: #ffffff;
  width: 100%;
  min-width: 320px; }

.promo-container {
  width: 86%;
  min-width: 280px;
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid red; }

.promo__title {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: "NewYorkLargeBold";
  font-size: 38px;
  line-height: 32px; }
  @media (min-width: 1150px) {
    .promo__title {
      font-family: "NewYorkLargeBold";
      font-size: 120px;
      font-style: normal;
      font-weight: 700;
      line-height: 120px;
      letter-spacing: -0.04em;
      text-align: left; } }

.promo__title--red {
  color: #fd665e; }

.mpomo__description {
  font-family: "SF UI Display Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #000000; }

.mpomo__photo {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat; }

.our-work {
  background-color: #ffffff;
  width: 100%;
  min-width: 320px; }

.our-work__container {
  width: 86%;
  min-width: 280px;
  max-width: 768px;
  min-height: 50px;
  margin: 0 auto;
  border: 1px solid red;
  position: relative; }
