//swiper
.swiper-container {
    width: auto;
  }

  .swiper-container {
      margin: 0;
  }




  .swiper-slide img {

    width: 100%;
    background-size: cover;
  }


  .our-work__slider-button
   {
      background-color: #fff;
      border: none;
      padding: 10px;
  }

  .reviews-slider__toggle
 {
    border: none;
    padding: 10px;
    background-color: #f8f8f8;
 }

 .slider-button-img {
     cursor: pointer;
    fill: $brownFont;
    &:hover {
    fill: #FD665E;
    }
 }
